<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<context:component-scan base-package="com.steven.web" />
	
	<!-- 配置处理器适配器HandlerAdapter -->
	<!-- 处理器适配器：HandlerAdapter。所有处理器适配器都实现了HandlerAdapter接口 -->
	<!-- SimpleControllerHandlerAdapter适配器能执行实现了Controller接口的Handler 所以，现在配置了这个适配器的话，所有的处理器Handler必须要实现Controller接口才行。 -->
	
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/queryItems.action">ItemsController1</prop>
			</props>
		</property>
	</bean>
	<!-- 配置Handler -->
	<bean name="ItemsController1" class="com.steven.web.ItemsController1" />
	<!-- 配置处理器映射器 将bean的name作为url进行查找，需要在配置Handler时指定beanname（就是url） -->
	<bean
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
</beans>
